.ui-list {
    display: inline-block;
}

.ui-list__bar {
    display: flex;
    justify-content: space-between;
}

.ui-list__table {
    display: table;
    min-width: 400px;
}

.ui-list__row {
    display: table-row;
}

.ui-list__cell {
    display: table-cell;
    padding: 20px 0;
}

.ui-list__show-more {
    text-align: center;
}