.ui-search {
    display: flex;
    min-height: 400px;
}

.ui-search__form {
    margin: auto;
}

.ui-search__form-input {
    margin: auto;
    width: 100%;
}

.ui-search__form-button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    width: 100%;
}
